In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('gapminder_2007.csv')

In [3]:
df.sample()

,Unnamed: 0.1,Unnamed: 0,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
70,851,851,"Korea, Rep.",Asia,2007,78.623,49044790,23348.13973,KOR,410

In [4]:
df.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'country', 'continent', 'year', 'lifeExp',
       'pop', 'gdpPercap', 'iso_alpha', 'iso_num'],
      dtype='object')

In [5]:
df =df.loc[:,['country', 'continent', 'year', 'lifeExp','pop', 'gdpPercap', 'iso_alpha', 'iso_num']]

In [6]:
df.sample()

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
28,"Congo, Rep.",Africa,2007,55.322,3800610,3632.557798,COG,178

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142 entries, 0 to 141
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    142 non-null    object
 1   continent  142 non-null    object
 2   year       142 non-null    int64
 3   lifeExp    142 non-null    float64
 4   pop        142 non-null    int64
 5   gdpPercap  142 non-null    float64
 6   iso_alpha  142 non-null    object
 7   iso_num    142 non-null    int64
dtypes: float64(2), int64(3), object(3)
memory usage: 9.0+ KB

In [8]:
df.describe()

         year     lifeExp           pop     gdpPercap     iso_num
count   142.0  142.000000  1.420000e+02    142.000000  142.000000
mean   2007.0   67.007423  4.402122e+07  11680.071820  425.880282
std       0.0   12.073021  1.476214e+08  12859.937337  249.111541
min    2007.0   39.613000  1.995790e+05    277.551859    4.000000
25%    2007.0   57.160250  4.508034e+06   1624.842248  209.500000
50%    2007.0   71.935500  1.051753e+07   6124.371109  410.000000
75%    2007.0   76.413250  3.121004e+07  18008.835640  636.000000
max    2007.0   82.603000  1.318683e+09  49357.190170  894.000000

## Find the country where life exp is less than 40 years old

In [9]:
# df[]

In [11]:
df['lifeExp'] < 40

0      False
1      False
2      False
3      False
4      False
       ...
137    False
138    False
139    False
140    False
141    False
Name: lifeExp, Length: 142, dtype: bool

In [12]:
df[df['lifeExp'] < 40]

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
121,Swaziland,Africa,2007,39.613,1133066,4513.480643,SWZ,748

In [13]:
df[df['lifeExp'] <= 40]

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
121,Swaziland,Africa,2007,39.613,1133066,4513.480643,SWZ,748

## Find the country where life exp is more than 80 years old

In [17]:
df[df.lifeExp > 80]

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
5,Australia,Oceania,2007,81.235,20434176,34435.36744,AUS,36
20,Canada,Americas,2007,80.653,33390141,36319.23501,CAN,124
44,France,Europe,2007,80.657,61083916,30470.01670,FRA,250
55,"Hong Kong, China",Asia,2007,82.208,6980412,39724.97867,HKG,344
57,Iceland,Europe,2007,81.757,301931,36180.78919,ISL,352
63,Israel,Asia,2007,80.745,6426679,25523.27710,ISR,376
64,Italy,Europe,2007,80.546,58147733,28569.71970,ITA,380
66,Japan,Asia,2007,82.603,127467972,31656.06806,JPN,392
91,New Zealand,Oceania,2007,80.204,4115771,25185.00911,NZL,554
95,Norway,Europe,2007,80.196,4627926,49357.19017,NOR,578
118,Spain,Europe,2007,80.941,40448191,28821.06370,ESP,724
122,Sweden,Europe,2007,80.884,9031088,33859.74835,SWE,752
123,Switzerland,Europe,2007,81.701,7554661,37506.41907,CHE,756

In [18]:
df[df.lifeExp >= 80]

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
5,Australia,Oceania,2007,81.235,20434176,34435.36744,AUS,36
20,Canada,Americas,2007,80.653,33390141,36319.23501,CAN,124
44,France,Europe,2007,80.657,61083916,30470.01670,FRA,250
55,"Hong Kong, China",Asia,2007,82.208,6980412,39724.97867,HKG,344
57,Iceland,Europe,2007,81.757,301931,36180.78919,ISL,352
63,Israel,Asia,2007,80.745,6426679,25523.27710,ISR,376
64,Italy,Europe,2007,80.546,58147733,28569.71970,ITA,380
66,Japan,Asia,2007,82.603,127467972,31656.06806,JPN,392
91,New Zealand,Oceania,2007,80.204,4115771,25185.00911,NZL,554
95,Norway,Europe,2007,80.196,4627926,49357.19017,NOR,578
118,Spain,Europe,2007,80.941,40448191,28821.06370,ESP,724
122,Sweden,Europe,2007,80.884,9031088,33859.74835,SWE,752
123,Switzerland,Europe,2007,81.701,7554661,37506.41907,CHE,756

In [19]:
df[df.lifeExp >= 90]

Empty DataFrame
Columns: [country, continent, year, lifeExp, pop, gdpPercap, iso_alpha, iso_num]
Index: []

## Find rows of data where continent is Africa

In [21]:
df['continent'] == 'Africa'

0      False
1      False
2       True
3       True
4      False
       ...
137    False
138    False
139    False
140     True
141     True
Name: continent, Length: 142, dtype: bool

In [22]:
 df[df['continent'] == 'Africa']

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
2,Algeria,Africa,2007,72.301,33333216,6223.367465,DZA,12
3,Angola,Africa,2007,42.731,12420476,4797.231267,AGO,24
10,Benin,Africa,2007,56.728,8078314,1441.284873,BEN,204
13,Botswana,Africa,2007,50.728,1639131,12569.851770,BWA,72
16,Burkina Faso,Africa,2007,52.295,14326203,1217.032994,BFA,854
17,Burundi,Africa,2007,49.580,8390505,430.070692,BDI,108
19,Cameroon,Africa,2007,50.430,17696293,2042.095240,CMR,120
21,Central African Republic,Africa,2007,44.741,4369038,706.016537,CAF,140
22,Chad,Africa,2007,50.651,10238807,1704.063724,TCD,148
26,Comoros,Africa,2007,65.152,710960,986.147879,COM,174
27,"Congo, Dem. Rep.",Africa,2007,46.462,64606759,277.551859,COD,180
28,"Congo, Rep.",Africa,2007,55.322,3800610,3632.557798,COG,178
30,Cote d'Ivoire,Africa,2007,48.328,18013409,1544.750112,CIV,384
35,Djibouti,Africa,2007,54.791,496374,2082.481567,DJI,262
38,Egypt,Africa,2007,71.338,80264543,5581.180998,EGY,818
40,Equatorial Guinea,Africa,2007,51.579,551201,12154.089750,GNQ,226
41,Eritrea,Africa,2007,58.040,4906585,641.369524,ERI,232
42,Ethiopia,Africa,2007,52.947,76511887,690.805576,ETH,231
45,Gabon,Africa,2007,56.735,1454867,13206.484520,GAB,266
46,Gambia,Africa,2007,59.448,1688359,752.749726,GMB,270
48,Ghana,Africa,2007,60.022,22873338,1327.608910,GHA,288
51,Guinea,Africa,2007,56.007,9947814,942.654211,GIN,324
52,Guinea-Bissau,Africa,2007,46.388,1472041,579.231743,GNB,624
68,Kenya,Africa,2007,54.110,35610177,1463.249282,KEN,404
73,Lesotho,Africa,2007,42.592,2012649,1569.331442,LSO,426
74,Liberia,Africa,2007,45.678,3193942,414.507341,LBR,430
75,Libya,Africa,2007,73.952,6036914,12057.499280,LBY,434
76,Madagascar,Africa,2007,59.443,19167654,1044.770126,MDG,450
77,Malawi,Africa,2007,48.303,13327079,759.349910,MWI,454
79,Mali,Africa,2007,54.467,12031795,1042.581557,MLI,466
80,Mauritania,Africa,2007,64.164,3270065,1803.151496,MRT,478
81,Mauritius,Africa,2007,72.801,1250882,10956.991120,MUS,480
85,Morocco,Africa,2007,71.164,33757175,3820.175230,MAR,504
86,Mozambique,Africa,2007,42.082,19951656,823.685621,MOZ,508
88,Namibia,Africa,2007,52.906,2055080,4811.060429,NAM,516
93,Niger,Africa,2007,56.867,12894865,619.676892,NER,562
94,Nigeria,Africa,2007,46.859,135031164,2013.977305,NGA,566
105,Reunion,Africa,2007,76.442,798094,7670.122558,REU,638
107,Rwanda,Africa,2007,46.242,8860588,863.088464,RWA,646
108,Sao Tome and Principe,Africa,2007,65.528,199579,1598.435089,STP,678
110,Senegal,Africa,2007,63.062,12267493,1712.472136,SEN,686
112,Sierra Leone,Africa,2007,42.568,6144562,862.540756,SLE,694
116,Somalia,Africa,2007,48.159,9118773,926.141068,SOM,706
117,South Africa,Africa,2007,49.339,43997828,9269.657808,ZAF,710
120,Sudan,Africa,2007,58.556,42292929,2602.394995,SDN,736
121,Swaziland,Africa,2007,39.613,1133066,4513.480643,SWZ,748
126,Tanzania,Africa,2007,52.517,38139640,1107.482182,TZA,834
128,Togo,Africa,2007,58.420,5701579,882.969944,TGO,768
130,Tunisia,Africa,2007,73.923,10276158,7092.923025,TUN,788
132,Uganda,Africa,2007,51.542,29170398,1056.380121,UGA,800
140,Zambia,Africa,2007,42.384,11746035,1271.211593,ZMB,894
141,Zimbabwe,Africa,2007,43.487,12311143,469.709298,ZWE,716

In [23]:
 df[df['continent'].isin(['Africa'])]

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
2,Algeria,Africa,2007,72.301,33333216,6223.367465,DZA,12
3,Angola,Africa,2007,42.731,12420476,4797.231267,AGO,24
10,Benin,Africa,2007,56.728,8078314,1441.284873,BEN,204
13,Botswana,Africa,2007,50.728,1639131,12569.851770,BWA,72
16,Burkina Faso,Africa,2007,52.295,14326203,1217.032994,BFA,854
17,Burundi,Africa,2007,49.580,8390505,430.070692,BDI,108
19,Cameroon,Africa,2007,50.430,17696293,2042.095240,CMR,120
21,Central African Republic,Africa,2007,44.741,4369038,706.016537,CAF,140
22,Chad,Africa,2007,50.651,10238807,1704.063724,TCD,148
26,Comoros,Africa,2007,65.152,710960,986.147879,COM,174
27,"Congo, Dem. Rep.",Africa,2007,46.462,64606759,277.551859,COD,180
28,"Congo, Rep.",Africa,2007,55.322,3800610,3632.557798,COG,178
30,Cote d'Ivoire,Africa,2007,48.328,18013409,1544.750112,CIV,384
35,Djibouti,Africa,2007,54.791,496374,2082.481567,DJI,262
38,Egypt,Africa,2007,71.338,80264543,5581.180998,EGY,818
40,Equatorial Guinea,Africa,2007,51.579,551201,12154.089750,GNQ,226
41,Eritrea,Africa,2007,58.040,4906585,641.369524,ERI,232
42,Ethiopia,Africa,2007,52.947,76511887,690.805576,ETH,231
45,Gabon,Africa,2007,56.735,1454867,13206.484520,GAB,266
46,Gambia,Africa,2007,59.448,1688359,752.749726,GMB,270
48,Ghana,Africa,2007,60.022,22873338,1327.608910,GHA,288
51,Guinea,Africa,2007,56.007,9947814,942.654211,GIN,324
52,Guinea-Bissau,Africa,2007,46.388,1472041,579.231743,GNB,624
68,Kenya,Africa,2007,54.110,35610177,1463.249282,KEN,404
73,Lesotho,Africa,2007,42.592,2012649,1569.331442,LSO,426
74,Liberia,Africa,2007,45.678,3193942,414.507341,LBR,430
75,Libya,Africa,2007,73.952,6036914,12057.499280,LBY,434
76,Madagascar,Africa,2007,59.443,19167654,1044.770126,MDG,450
77,Malawi,Africa,2007,48.303,13327079,759.349910,MWI,454
79,Mali,Africa,2007,54.467,12031795,1042.581557,MLI,466
80,Mauritania,Africa,2007,64.164,3270065,1803.151496,MRT,478
81,Mauritius,Africa,2007,72.801,1250882,10956.991120,MUS,480
85,Morocco,Africa,2007,71.164,33757175,3820.175230,MAR,504
86,Mozambique,Africa,2007,42.082,19951656,823.685621,MOZ,508
88,Namibia,Africa,2007,52.906,2055080,4811.060429,NAM,516
93,Niger,Africa,2007,56.867,12894865,619.676892,NER,562
94,Nigeria,Africa,2007,46.859,135031164,2013.977305,NGA,566
105,Reunion,Africa,2007,76.442,798094,7670.122558,REU,638
107,Rwanda,Africa,2007,46.242,8860588,863.088464,RWA,646
108,Sao Tome and Principe,Africa,2007,65.528,199579,1598.435089,STP,678
110,Senegal,Africa,2007,63.062,12267493,1712.472136,SEN,686
112,Sierra Leone,Africa,2007,42.568,6144562,862.540756,SLE,694
116,Somalia,Africa,2007,48.159,9118773,926.141068,SOM,706
117,South Africa,Africa,2007,49.339,43997828,9269.657808,ZAF,710
120,Sudan,Africa,2007,58.556,42292929,2602.394995,SDN,736
121,Swaziland,Africa,2007,39.613,1133066,4513.480643,SWZ,748
126,Tanzania,Africa,2007,52.517,38139640,1107.482182,TZA,834
128,Togo,Africa,2007,58.420,5701579,882.969944,TGO,768
130,Tunisia,Africa,2007,73.923,10276158,7092.923025,TUN,788
132,Uganda,Africa,2007,51.542,29170398,1056.380121,UGA,800
140,Zambia,Africa,2007,42.384,11746035,1271.211593,ZMB,894
141,Zimbabwe,Africa,2007,43.487,12311143,469.709298,ZWE,716

In [30]:
# df[(df['continent'] == 'Africa') | (df['lifeExp'] < 40)]

In [32]:
(df['continent'] == 'Africa')

0      False
1      False
2       True
3       True
4      False
       ...
137    False
138    False
139    False
140     True
141     True
Name: continent, Length: 142, dtype: bool

In [33]:
(df['lifeExp'] < 40)

0      False
1      False
2      False
3      False
4      False
       ...
137    False
138    False
139    False
140    False
141    False
Name: lifeExp, Length: 142, dtype: bool

In [35]:
df[(df['continent'] == 'Africa') & (df['lifeExp'] < 40)]

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
121,Swaziland,Africa,2007,39.613,1133066,4513.480643,SWZ,748